{% extends 'base/index.html.twig' %}


{% block title %}Hello AuthentificationController!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h2>Inscriptions</h2>
        {{ form_start(formAuth) }}
        <div class="form-group">
            <label for="">FirstName</label>
            {{ form_widget(formAuth.firstname) }}
            <label for="">LastName</label>
            {{ form_widget(formAuth.lastname) }}
            <label for="">DuckName</label>
            {{ form_widget(formAuth.duckname) }}
            <label for="">email</label>
            {{ form_widget(formAuth.email) }}
            <label for="">password</label>
            {{ form_widget(formAuth.password) }}
            <label for="">image de profil</label>
            {{ form_widget(formAuth.ProfilImage) }}
        </div>
        <button type="submit" class="btn btn-sucess">
            {% if editMode  %}
            Update
            {% else %}
            Register</button>
        {% endif %}
        {{ form_end(formAuth) }}
    </div>
{% endblock %}
